---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 class="title">{{ page.feature-title | default: page.title }}</h1>
    {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
    <span>Category: {{ page.categories[0] }}</span>
    <p class="meta">
      {{ page.date | date: "%Y-%m-%d" }}
      {% if page.author %} - {{ page.author }}{% endif %}
    </p>
  </header>
  <section class="post-content">
    {% if page.toc %}
    <div class="toc-container">
      <h2 id="toc-title" class="toc-title">목차</h2>
      {{ content | toc_only }}
    </div>
    {% endif %}
    {{ content }}
  </section>
</article>

{% include related-posts.html %}
